{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PizzaMama Menu</title>
    <link href="{% static 'menu/style.css' %}" rel="stylesheet">
</head>
<body>
    <img id="logo" src="{% static 'menu/images/small_logo.png' %}">
<div class="title">
    <h1>Pizzas : </h1>
</div>
    <div class="menu_list">
        {% for pizza in pizzas %}
            <div class="list_item">
                <span class="list_title">{{ pizza.name }} :</span>
                <span class="list_price">{{ pizza.price | floatformat:2 }} $</span>
                <span class="list_ingredients">{{ pizza.ingredients }}</span>
                {% if pizza.veggy %}
                    <span class="list_veggy"> VeggyZza </span>
                {% endif %}
            </div>
        {% empty %}
            <div>Sorry, no avalaible pizzas</div>
        {% endfor %}
    </div>
</body>
</html>